<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Users</title>
</head>
<body>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout">
</form>
<br>
<form th:method="PATCH" th:action="@{edit}" th:object="${user}">
    <input name="id" type="hidden" id="id" th:value="${user.getId()}">
    <label th:for="name">First Name: </label>
    <br>
    <input type="text" name="name" th:id="name" th:value="${user.getName()}">
    <br>
    <br>
    <label th:for="lastName">Last Name: </label>
    <br>
    <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}">
    <br>
    <br>
    <label th:for="age">Age: </label>
    <br>
    <input type="number" name="age" th:id="age" th:value="${user.getAge()}">
    <br>
    <br>
    <label th:for="email">Email: </label>
    <br>
    <input type="text" name="email" th:id="email" th:value="${user.getEmail()}">
    <br>
    <br>
    <label th:for="password">Password: </label>
    <br>
    <input type="password" name="password" th:id="password">
    <br>
    <br>
    <label>Roles: </label>
    <select name="roles" id="roles">
        <option>Admin</option>
        <option>User</option>
    </select>
    <br>
    <br>
    <button type="submit">Update User</button>
</form>
<br>
<form th:action="@{/admin/users}">
    <button type="submit">Back to users</button>
</form>
</body>
</html>