<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table th:border="1" style="text-align:center" th:cellpadding="5">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
        <th>Action</th>
    </tr>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getRoles()}"></td>
        <td>
            <button>
                <a th:href="@{/admin/edit?id={id}(id=${user.id})}">Update User</a>
            </button>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/admin/delete?id={id}(id=${user.id})}">
                <button type="submit">Delete User</button>
            </form>
        </td>
    </tr>
</table>
<br>
<form action="add">
<button>
    <a th:href="@{add}">Add User</a>
</button>
</form>
<br>
<br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Выйти">
</form>
</body>
</html>