<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
    <hr/>
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getRoles()}"></td>
        </tr>
    </table>
    <br>
    <td>
           <form th:action="@{/admin/users/edit?id={id}(id=${user.id})}" th:object="${user}">
               <button type="submit">Update User</button>
           </form>
    </td>
    <br>
    <td>
        <form th:method="DELETE" th:action="@{/admin/users/delete?id={id}(id=${user.id})}">
            <input type="hidden" name="id" th:value="${user.id}">
            <button type="submit" value="Delete">Delete User</button>
        </form>
    </td>
    <br/>
    <form th:action="@{/admin}">
        <button type="submit">Back to users</button>
    </form>
</div>
</body>
</html>